#main-cont {
  margin-top: 3rem;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

#left-sidebar {
  background-color: rgb(247, 247, 247);
  border-right: 1px solid rgb(170, 170, 170);
  width: 72px;
  overflow: hidden;
}

#messages-cont {
  overflow: hidden;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
