* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  min-height: 100%;
}

#main-cont {
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  text-align: center;

  display: flex;
}
.blur > *{
  filter: blur(1.5px);
  pointer-events: none;
  user-select: none;
}
.unblurred {
  filter: blur(0);
  pointer-events: all;
  user-select: all;
}

#servers-sidebar {
  /* float: left; */
  height: 100%;
  min-width: 15rem;

  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 2px solid black;
}
#servers-header {
  /* height: 10%; */
  /* padding: 10px; */
  padding: 0.3rem;
  width: 100%;

  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
#server-create-start {
  background-color: beige;
  display: flex;
  flex-direction: row;
}
#server-create-start > * {
  margin: auto;
}
#btnCreateServerSection,
#btnCreateChannelSection {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

#servers-wrapper {
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: auto;
}
#user-settings-btn {
  cursor: pointer;
}

.server-div {
  margin: 0.2rem;
  height: 5rem;
  border: 1px solid black;
  align-items: center;
  box-sizing: border-box;
}
.server-div.clicked {
  border: 3px solid black;
}

.channel-div {
  margin: 2px;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  align-items: center;
}
.channel-div.clicked {
  border: 3px solid black;
}

#channels-middlebar {
  height: 100%;
  min-width: 15rem;

  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border: 2px solid black;
}

#channels-header {
  /* height: 10%; */
  width: 100%;
  padding: 0.3rem;

  background-color: beige;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#serverSettings,
#channelSettings {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

#channels-wrapper {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  padding: 10px;
}

#messages-rightbar {
  width: 100%;
  height: 100%;

  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
}

#channel-header {
  width: 100%;
  height: 5rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#right-page {
  width: 100%;
  height: 100%;

  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

#tblservers {
  width: 70%;
  padding: 30px;
}
#tblusersservers {
  width: 50%;
  padding: 30px;
}
td,
th {
  border: 1px solid black;
}

.longTxt {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  text-align: center;
}

.popUpForm {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px black solid;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.popUpForm > *,
.server-div > *,
.channel-div > * {
  user-select: none;
}

.closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
}
.popUpForm > * {
  margin: 10px;
}

#create-server-section,
#create-channel-section,
#update-delete-server-section,
#update-delete-channnel-section {
  width: 30rem;
  height: 30rem;
}
.divCloseBtn {
  display: flex;
  margin: 0;
}
#create-server-confirm,
#create-channel-confirm,
#update-server-confirm,
#update-channel-confirm {
  width: 20rem;
  height: 20rem;
}
